<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>project 모음</title>
  <link rel="stylesheet" type="text/css" th:href="@{/ProjectBoard/css/styleSetting.css}">
</head>
<body>
<div class="title">PROJECT</div>
<div>
  <ul class="inline-grid sectionBox">
    <div class="subTitle">Music</div>
    <li class="menu"><a href="/listInquiry" class="block">조회</a></li>
    <li  class="menu"><a href="/listModify" class="block">등록/수정</a></li>
  </ul>
</div>
</body>
</html>