th, td {
  border: 1px solid #808080;
  padding: 5px 10px;
}

a {
  color: inherit;
  text-decoration: none;
/*   border: 3px solid rgb(195, 195, 195); */
}

.mainZone {
  border-collapse: collapse;
  border: 1px solid #808080;
}

.headZone {
  border: 1px solid #808080;
  border-bottom: thick double #808080;
  background-color: #E0E0E0;
}

.bottom {
  position: fixed;
  bottom: 10px;
  width: 100%;
  right: 10px;
  text-align: right;
}